{% if include.paginate                                       %}
{%   assign post_list = paginator.posts                      %}
{% elsif include.category                                    %}
{%   assign post_list = site.categories[include.category]    %}
{% else                                                      %}
{%   assign post_list = site.posts                           %}
{% endif                                                     %}

{% for post in post_list %}
  <article class="panel radius">
    <h3>{{ post.title }}</h3>
    <p><small><em>{{ post.date | date: "%b %-d, %Y" }}</em></small></p>
    <p>{{ post.excerpt }}</p>
    <a class="button secondary tiny round" href="{{ post.url | prepend: site.baseurl }}">READ MORE</a>
  </article>
{% endfor %}
