<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          {% if site.email %}
          <li>E-mail</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% for item in site.data.social-media %}

            {% if item[1].username %}
            <li>
              <i class="fa {{ item[1].icon }} fa-fw"></i>
              <a href="{{ item[1].url }}{{ item[1].username }}" target="{{ item[0] }}">
                <span class="username">{{ item[0] }}</span>
              </a>
            </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
