<footer>
  <div class="row">
    {% for item in site.data.social-media %}
      {% if item[1].username %}
      <div class="small-1 medium-2 columns">
        <a href="{{ item[1].url }}{{ item[1].username }}" target="{{ item[0] }}">
          <i class="{{ item[1].icon }}"></i>
          <span class="hide-for-small-only">{{ item[0] }}</span>
        </a>
      </div>
      {% endif %}
    {% endfor %}
    {% if site.email %}
      <div class="small-2 medium-4 columns">
        <a href="mailto:{{ site.email }}">
          <i class="fi-mail"></i>
          <span class="hide-for-small-only">{{ site.email }}</span>
        </a>
      </div>
    {% endif %}
  </div>
</footer>
