---
layout: compress
---
<!DOCTYPE html>
<html ng-app="myBlog">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="frb-main-content">
      <!--
      <div class="row">
        <div class="large-12 columns">
          <div class="panel frb-adsense">
            {% include adsense.html %}
          </div>
        </div>
      </div>
      -->
      <div class="row">
        <div class="large-12 columns">
          {{ content }}
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% for javascript in site.data.cdn.javascript.postload %}
    <script src="{{ javascript[1] }}"></script>
    {% endfor %}

    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

    {% for javascript in page.javascript %}
    <script src="{{ "/js/" | prepend: site.baseurl | append: javascript }}"></script>
    {% endfor %}

    {% include analytics.html %}
  </body>

</html>
